._IO_LD {
  line-height: 110%;
  opacity: 0;
  animation-fill-mode: forwards;
}

._3uImN {
  animation-name: _3uImN;
}

._3dcVk {
  animation-name: _1sRVg;
}

._1VsJA {
  animation-name: _3njXV;
}

._3UPkY {
  animation-name: _2f2WE;
}

._3PgoG {
  animation-name: _23i2I;
}

._2zM2M {
  animation-name: _2S2Gt;
}

._2mfWh {
  animation-name: _by4Wa;
}

._2nSbU {
  animation-name: _3KZhJ;
}

._3biuZ {
  animation-name: _2Es-0;
}

._3QFND {
  animation-name: _tw2Dp;
}

._jo4TG {
  animation-name: _P7sh0;
}

._3N77a {
  animation-name: _2Y7_a;
}

@keyframes _3uImN {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes _1sRVg {
  0% {
    opacity: 0;
    transform: scale(0.64);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes _3njXV {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes _2f2WE {
  0% {
    transform: translateY(-2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes _23i2I {
  0% {
    transform: translateX(-2rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes _2S2Gt {
  0% {
    transform: translateX(2rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes _by4Wa {
  0% {
    opacity: 0;
    transform: scale(0.32) rotate(-69deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes _3KZhJ {
  0% {
    opacity: 0;
    transform: scale(0.32) rotate(69deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes _2Es-0 {
  0% {
    -webkit-clip-path: polygon(0% 100%, 0% 100%, 100% 100%, 100% 100%);
            clip-path: polygon(0% 100%, 0% 100%, 100% 100%, 100% 100%);
    opacity: 0;
  }
  100% {
    -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
            clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
    opacity: 1;
  }
}

@keyframes _tw2Dp {
  0% {
    -webkit-clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%);
            clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%);
    opacity: 0;
  }
  100% {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
            clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    opacity: 1;
  }
}

@keyframes _P7sh0 {
  0% {
    -webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
    opacity: 0;
  }
  100% {
    -webkit-clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%);
            clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%);
    opacity: 1;
  }
}

@keyframes _2Y7_a {
  0% {
    -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    opacity: 0;
  }
  100% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    opacity: 1;
  }
}
