.char {
  line-height: 110%;
  opacity: 0;
  animation-fill-mode: forwards;
}

.fadeIn {
  animation-name: fadeIn;
}

.popUp {
  animation-name: popup;
}

.slideUp {
  animation-name: slide-up;
}

.slideDown {
  animation-name: slide-down;
}

.slideRight {
  animation-name: slide-right;
}

.slideLeft {
  animation-name: slide-left;
}

.rotateClockwise {
  animation-name: rotate-clockwise;
}

.rotateCounterClockwise {
  animation-name: rotate-counter-clockwise;
}

.revealUp {
  animation-name: reveal-up;
}

.revealDown {
  animation-name: reveal-down;
}

.revealRight {
  animation-name: reveal-right;
}

.revealLeft {
  animation-name: reveal-left;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.64);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-2rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(2rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes rotate-clockwise {
  0% {
    opacity: 0;
    transform: scale(0.32) rotate(-69deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes rotate-counter-clockwise {
  0% {
    opacity: 0;
    transform: scale(0.32) rotate(69deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes reveal-up {
  0% {
    clip-path: polygon(0% 100%, 0% 100%, 100% 100%, 100% 100%);
    opacity: 0;
  }
  100% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
    opacity: 1;
  }
}

@keyframes reveal-down {
  0% {
    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%);
    opacity: 0;
  }
  100% {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    opacity: 1;
  }
}

@keyframes reveal-right {
  0% {
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
    opacity: 0;
  }
  100% {
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%);
    opacity: 1;
  }
}

@keyframes reveal-left {
  0% {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    opacity: 0;
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    opacity: 1;
  }
}
